<div class="sidebar-container">
  <div class="footer-copyright text-center py-3">Logged in as: <br/> <%= current_user.email %></div>
  <ul class="sidebar-navigation">
    <li class="header">Navigation</li>
    <li>
      <%= link_to ' Homepage', root_path, class:"fa fa-home" %>
    </li>
    <li>
      <%= link_to ' Dashboard', home_about_path, class:"fa fa-tachometer" %>
    </li>
    <% if current_user.admin != true%> <!--be careful here!!!!!!!!!!!!!!!!-->
      <li class="header">Admin Panel</li>
      <li>
        <%= link_to ' Add User Manually', users_adding_adding_manually_path, class:"fa fa-user-plus" %>
      </li>
      <li>
        <%= link_to ' Add User From File', users_adding_adding_csv_path, class:"fa fa-user-plus" %> 
      </li>
      <li>
        <%= link_to ' Show Users', home_show_users_path, class:"fa fa-bars" %> 
      </li>
    <% end %>
  </ul>
</div>