<div class="content-container">
    <div class="container-fluid">
    <h5>All Users</h5>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email</th>
                        <th>Admin</th>
                        <th>Teacher</th>
                        <th>Student</th>
                    </tr>
                </thead>

                <tbody>
                    <% @users.each do |user| %>
                    <% if user.school == current_user.school %>
                    <tr>
                        <td><%= user.first_name %></td>
                        <td><%= user.last_name %></td>
                        <td><%= user.email %></td>
                        <td><%= user.admin %></td>
                        <td><%= user.teacher %></td>
                        <td><%= user.student %></td>
                    </tr>
                    <% end %>
                    <% end %>
                </tbody>
            </table>

            <%= link_to 'Add User', users_adding_adding_manually_path, class:"btn btn-primary" %>
            <%= link_to 'Add Users From CSV', users_adding_adding_csv_path, class:"btn btn-primary" %>
        </div>
    </div>
</div>
