<%= form_with(model: essay_solution) do |form| %>
  <% if essay_solution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(essay_solution.errors.count, "error") %> prohibited this essay_solution from being saved:</h2>

      <ul>
        <% essay_solution.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :essay_id %>
    <%= form.number_field :essay_id %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.number_field :student_id %>
  </div>

  <div class="field">
    <%= form.label :solution %>
    <%= form.text_area :solution %>
  </div>

  <div class="field">
    <%= form.label :attachment %>
    <%= form.text_area :attachment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script type="text/javascript">
  function files(event){
    event.preventDefault();
    filepicker.setKey('AEgoy56fEQziKJ8ajM2Luz');

    filepicker.pickMultiple(
      {
        maxFiles: 3
      },
      function(Blobs){
        var my_blobs = [];
        for(var i = 0; i < Blobs.length; i++){
          my_blobs.push(Blobs[i].url);
          $("#hidden_input_files").val(my_blobs);
          $( "#my_form" ).append( '<p><span class="glyphicon glyphicon-file"></span><b>' + Blobs[i].filename + '</b></p>'  );
        }
      },
      function(error){}
    );
  }
</script>